<div class="passwordStrength-component">
  <h1>Password</h1>

  <form>
    <label>
      <input type='password' placeholder="Password" autocomplete="new-password" [(ngModel)]='password' name="password"
        (input)="handlePasswordStatus()">
    </label>
  </form>

  <div [ngSwitch]="passwordStatus">
    <p *ngSwitchDefault [style]="'color: ' + indicatorsColor[0]">It's empty</p>
    <p *ngSwitchCase="'short'" [style]="'color: ' + indicatorsColor[0]">Password length should be at least 8</p>
    <p *ngSwitchCase="'low'" [style]="'color: ' + indicatorsColor[0]">Weak password </p>
    <p *ngSwitchCase="'medium'" style="color: rgb(231, 231, 63)">It's medium, you're close 😀</p>
    <p *ngSwitchCase="'strong'" [style]="'color: ' + indicatorsColor[0]">Now it's finally strong 👏</p>
  </div>

  <div class="indicators_container">
    <div class="strength_indicator" [style]="'background: ' + indicatorsColor[0]"></div>
    <div class="strength_indicator" [style]="'background: ' + indicatorsColor[1]"></div>
    <div class="strength_indicator" [style]="'background: ' + indicatorsColor[2]"></div>
  </div>
</div>