.passwordStrength-component{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 2px dotted rgb(156, 156, 156);
}

h1{
    margin-bottom: 0;
}

p{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

form{
    margin: 10px 0;
    width: 70%;
}

input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.indicators_container{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.indicators_container .strength_indicator{
    width: 30%;
    height: 12px;
    border-radius: 10px;
}